@model Doan1.Areas.Admin.Models.Account;
@using Doan1.Ulitities;
<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="index.html" class="logo d-flex align-items-center w-auto">
                                <img src="assets/img/logo.png" alt="">
                                <span class="d-none d-lg-block"></span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Double Store</h5>
                                    <p class="text-center small">Tạo tài khoản </p>
                                </div>

                                <form class="row g-3 needs-validation" novalidate asp-controller="Home" asp-action="Register">

                                    <div class="col-12">
                                        <label for="yourUsername" class="form-label">Your Name</label>
                                        <input type="text" asp-for="UserName" class="form-control" id="yourUsername" required>
                                        <div class="invalid-feedback">Vui lòng nhập tên.</div>
                                    </div>
                                    <div class="col-12">
                                        <label for="yourEmail" class="form-label">Your Email</label>
                                        <input type="email" asp-for="Email" class="form-control" id="yourEmail" required>
                                        <div class="invalid-feedback">Vui lòng nhập địa chỉ Email.</div>
                                    </div>
                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label"> Password</label>
                                        <input type="password" asp-for="Password" class="form-control" id="yourPassword" required>
                                        <div class="invalid-feedback">Vui lòng nhập mật khẩu.</div>
                                    </div>
                                    <div class="form-group d-none">

                                        <input asp-for="IsActive" class="form-control" value="True" />
                                    </div>
                                    <div class="col-12" text-center text-danger>
                                        <h6>
                                            @Functions._MessageEmail
                                        </h6>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit"> Tạo tài khoản </button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Bạn có sẵn tài khoản?<a href="~/Home/Login">Đăng nhập </a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->